/*
Placeholder for custom user CSS

mainly to be overridden in profile/static/custom/custom.css

This will always be an empty file in IPython
*/

@import url('http://fonts.googleapis.com/css?family=Crimson+Text');
@import url('http://fonts.googleapis.com/css?family=Kameron');
@import url('http://fonts.googleapis.com/css?family=Lato:200');
@import url('http://fonts.googleapis.com/css?family=Lato:300');
@import url('http://fonts.googleapis.com/css?family=Lato:400');


/* Change code font */
.CodeMirror pre {
    font-family: Monaco;
    font-size: 9pt;
}

div.output pre{
    font-family: Monaco;
    font-size: 9pt;
}

div.output_html td{
    font-family: Monaco;
    font-size: 8pt;
}

div.prompt{
    font-family: Monaco;
    font-size: 8pt;
}

div.completions select{
    font-family: Monaco;
    font-size: 9pt;
}

div.container pre{
    font-family: Monaco;
    font-size: 9pt;
}

div.tooltiptext pre{
    font-family: Monaco;
    font-size: 8pt;
}

div.input_area {
    border-color: rgba(0,0,0,0.10);
    background: rbga(0,0,0,0.5);
}

div.text_cell {
    max-width: 130ex; /* instead of 100%, */
}

div.text_cell_render {
    font-family: lato;
    font-size: 11pt;
    line-height: 145%; /* added for some line spacing of text. */
}

div.text_cell_render code{
    font-family: Monaco;
    font-size: 9pt;
}

div.text_cell_render h1,
div.text_cell_render h2,
div.text_cell_render h3,
div.text_cell_render h4,
div.text_cell_render h5,
div.text_cell_render h6 {
    font-family: lato, 'HelveticaNeue-Light';
    font-weight: 300;
}

div.text_cell_render h1 {
    font-size: 24pt;
}

div.text_cell_render h2 {
    font-size: 18pt;
}

div.text_cell_render h3 {
    font-size: 14pt;
}

.rendered_html pre,
.rendered_html code {
    font-size: medium;
}

.rendered_html ol {
    list-style:decimal;
    margin: 1em 2em;
}

.prompt.input_prompt {
    color: rgba(0,0,0,0.5);
}

.cell.command_mode.selected {
    border-color: rgba(0,0,0,0.1);
}

.cell.edit_mode.selected {
    border-color: rgba(0,0,0,0.15);
    box-shadow: 0px 0px 5px #f0f0f0;
    -webkit-box-shadow: 0px 0px 5px #f0f0f0;
}

div.output_scroll {
    -webkit-box-shadow: inset 0 2px 8px rgba(0,0,0,0.1);
    box-shadow: inset 0 2px 8px rgba(0,0,0,0.1);
    border-radious: 2px;
}

#menubar .navbar-inner {
    background: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    border: none;
    font-family: lato;
    font-weight: 400;
}

.navbar-fixed-top .navbar-inner,
.navbar-static-top .navbar-inner {
    box-shadow: none;
    -webkit-box-shadow: none;
    border: none;
}

div#notebook_panel {
    box-shadow: none;
    -webkit-box-shadow: none;
    border-top: none;
}

div#notebook {
    border-top: 1px solid rgba(0,0,0,0.15);
}

#menubar .navbar .navbar-inner,
.toolbar-inner {
    padding-left: 0;
    padding-right: 0;
}

#checkpoint_status,
#autosave_status {
    color: rgba(0,0,0,0.5);
}

#header {
    font-family: lato;
}

#notebook_name {
    font-weight: 200;
}
